.navbar {
    background-color: #4A0072; 
    margin-bottom: 16px;
    padding: 16px 0px;
    width: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 90%;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    ul {
        flex-direction: column;
        gap: 8px;
    }
}
