/* NavBar.css */

.navbar-container {
    background: linear-gradient(90deg, hsl(var(--background-color-hsl2)), hsl(var(--background-color-hsl))); 
    margin-bottom: 50px;
    padding: 16px 0;
    width: 100vw;
}

.containers {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0 2vw;
    width: 100vw;
    gap: 5%;
    font-weight: bold;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color */
    position: relative;
    padding-bottom: 5px; /* Add space for the underline */
}

.navbar-container a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: purple;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; /* Transition effect for the underline */
}

.navbar-container a:hover::after,
.navbar-container a:focus::after,
.navbar-container a:active::after {
    width: 100%; /* Full-width underline on hover, focus, or active */
}

.navbar-container a:hover {
    color: rgba(255, 255, 255, 0.8); /* Lighter color on hover */
}

@media (max-width: 768px) {
    .containers {
        flex-direction: column;
        align-items: flex-start;
    }
    
    ul {
        flex-direction: column;
        gap: 8px;
    }
}
